doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Buscador de Pokémon
    link(rel="stylesheet" href="/style.css")
  body
    .container
      h1 Buscador de Pokémon
      input#pokemon-name(type="text" placeholder="Escribe el nombre de un Pokémon")
      button(onclick="buscarPokemon()") Buscar
      #pokemon-info
    script(src="/script.js")